.GameScoreSummary {
    display: flex;
    text-align: center;
    align-items: center;
}
.livebar {
    width: 200px;
    margin: auto;
    margin-top: 25px;
}
.middleCol {
    /* min-width: 200px !important; */
}
.container{
    margin: 25px;
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
}
.bar {
    text-align: center;
    align-items: center;
    margin: auto;
}
.teamName {
    min-width: 20%;
} 
.image {
    width: 150px;
    height: 150px;
    animation-name: fade-in; 
    animation-duration: 0.75s;
}

@keyframes fade-in {
    0%   {
        opacity: 0;
       
    }
    100% {
        opacity: 1;
    }
}

.score {
    font-size: 30pt;
}
.GameScoreSummary ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: start;
}
.GameScoreSummary li {
    padding-left : 15px;
    text-align: center;
    /* flex-wrap: nowrap; */
    /* flex: none; */
    vertical-align: middle;
    
}
.GameScoreSummary label {
    text-align: start;
    flex-wrap: nowrap;
    min-width: 50px;
    width: 50px;
}
.GameScoreSummary .teamName {
    min-width: 120px;
}
.GameScoreSummary .header {
    padding-top: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    margin-bottom: 5px; */

}