.ui.table {
    /* width: 200px !important; */
}
.livebar {
    /* width: 200px; */
    margin-top: 25px;

}
LinearProgress {
    width: 100px;
}
.middleCol {
    /* min-width: 200px !important; */
}
.container{
    margin: 25px;
}