
@keyframes fade-in {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container {
    display: block;
    text-align: center;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    min-width: 520px;
    min-height: 400px;
    animation: fade-in 0.3s ease-in-out;
    flex-wrap: nowrap;
    overflow: auto;
}
.listContainer {
    width: 100%;
    margin-bottom: 35px;
    font-size: 1.25rem;
}

.listContainer li { 
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    padding-left: 0px;
    text-align: center;
    vertical-align: middle;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}
.listContainer label{
    min-width: 100px;
}
.listContainer .header {
    font-weight: 600;
    border-bottom: 1px solid #00000030;
}
@media (max-width: 770px) {
    .container {
        display: block;
        text-align: center;
        width: 100%;
        min-height: 400px;
        animation: fade-in 0.3s ease-in-out;
        flex-wrap: nowrap;
        overflow: auto;
        min-width: 300px;

    }
    .listContainer {
        width: 100%;
        margin-bottom: 35px;
        font-size: 0.95rem;
    }
    
    .listContainer li { 
        display: flex;
        list-style-type: none;
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: space-around;
        padding-left: 0px;
        text-align: center;
        vertical-align: middle;
        min-width: 300px;
    }
    .listContainer label{
        min-width: 70px;
    }
    .listContainer .header {
        font-weight: 600;
        border-bottom: 1px solid #00000030;
    }
}