
@keyframes fade-in {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loader {
    display: block !important;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    min-width: 520px;
    min-height: 400px;
    animation: fade-in 0.3s ease-in-out;
    flex-wrap: wrap;
    overflow: auto;
}
.teamStatsContainer {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
    animation: fade-in 0.3s ease-in-out;
}
.playerStatsContainer {
    padding: 5px;
    padding-top: 25px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
    animation: fade-in 0.3s ease-in-out;

}
.playerContainer {
    animation: fade-in 0.3s ease-in-out;
    text-align: start;
    padding: 5px;
    width: 25%;
    min-width: 180px;
    margin: 5px;
    margin-bottom: 20px;
}

.playerContainer li { 
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    padding-left: 0px;
    /* text-align: center; */
    vertical-align: middle;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}
.playerContainer label {
    text-align: end;
    min-width: 55px;
    /* border-bottom: 1px solid #00000030; */
    
}
.playerContainer .statDesc{
    text-align: start;
    min-width: 50px;
}
.header {
    width: 100%;
    padding: 30px;
}

.body {
    width: 100%;
    /* padding: 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

@media (max-width: 770px) {
    .header {
        width: 100%;
        padding: 0px;
    }
    .container {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        min-width: 0px;
        min-height: 400px;
        margin-top: 30px;
        animation: fade-in 0.3s ease-in-out;
        flex-wrap: wrap;
        overflow: auto;
    }
    .teamStatsContainer {
        padding-top: 25px;
        width: 100%;
        animation: fade-in 0.3s ease-in-out;
    }
    .playerStatsContainer {
        padding: 0px;
        padding-top: 20px;
        margin: auto;
        margin-bottom: 30px;
        width: 100%;
        animation: fade-in 0.3s ease-in-out;
    
    }
    .playerContainer {
        animation: fade-in 0.3s ease-in-out;
        text-align: start;
        padding: 5px;
        width: 42%;
        min-width: 150px;
        margin: 15px;
        margin-bottom: 20px;
    }
    
    .playerContainer li { 
        display: flex;
        list-style-type: none;
        flex-wrap: nowrap;
        justify-content: space-around;
        overflow: hidden;
        padding-left: 0px;
        vertical-align: middle;
    }
    .playerContainer label {
        text-align: end;
        min-width: 40px;        
    }
    .playerContainer .statDesc{
        text-align: start;
        min-width: 50px;
    }

}