.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap !important;
    /* padding: 25px; */
    animation: fade-in 0.3s ease-in-out;  
    overflow: hidden;  
}

.playersContainer {
    padding: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    
}
.playersSearchContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: calc(100% - 150px);
    overflow: auto;
    justify-content: center;
}
.playerListItem {
    width: 200px;
    padding: 15px;
    margin: 10px;
    transition-duration: 0.5s;

}

.searchBar {
    padding: 5px;
    font-size: 1.5rem;
    transition: all ease-in-out 0.2s;
    
}
@media (min-width: 770px) {
    .playerListItem:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 4px -4px rgba(0,0,0,0.15), 0 6px 2px -3px rgba(0,0,0,0.25);
        transition-duration: 0.1s;
    }
    .searchBar:focus {
        outline: none;
        transform: scale(1.02);
        box-shadow: 0 10px 4px -4px rgba(0,0,0,0.15), 0 6px 2px -3px rgba(0,0,0,0.25);
    }
}

.searchHeader {
    padding-left: 25px;
    padding-bottom: 15px;
    text-align: start;
    border-bottom: 1px solid #00000030;
}
@media (max-width: 770px) {
    .playerListItem {
        width: 40%;
        padding: 5px;
        margin: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .playerName {
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .playersContainer {
        padding: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 

    }
    .searchBar:focus {
        outline: none;
        transform: scale(1.02);
        
    }
    .playersSearchContainer {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .playerListItem:active {
        transform: scale(1.05);
        box-shadow: 0 10px 4px -4px rgba(0,0,0,0.15), 0 6px 2px -3px rgba(0,0,0,0.25);
        transition-duration: 0.1s;
    }
}