 .container {
    animation-name: example; 
    animation-duration: 0.2s;
    margin: 0;
}

@keyframes example {
    0%   {
        opacity: 0.5;
        transform: scale(0.99) translateY(15px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

span {
    padding-right: 20px;
}

label {
    padding-right: 20px;
}

.row {
    display: flex;
}
.loading {
    top: 200px;
}
.container-placeholder {
    margin-top: 200px;
    padding: 100px;
}
.playerstats {
    /* display: flex; */
}
.playerscol {
    padding: 15px;
    min-width: 500px;
}