 .container {
    animation-name: fade-in; 
    animation-duration: 0.3s;
    margin: 0;
    margin: 30px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

@keyframes fade-in {
    0%   {
        opacity: 0.1;
        /* transform: scale(0.990); */
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

span {
    padding-right: 20px;
}

label {
    padding-right: 20px;
}

.row {
    display: flex;
}
.loading {
    top: 200px;
}
.container-placeholder {
    margin-top: 200px;
    padding: 100px;
}
.grid {
    margin: 0 !important;
}
.gameStats {
    margin-left: 0px;
    margin-right: 0px;
}
.playerstats {
    /* display: flex; */
}
.playerscol {
    padding: 15px;
    min-width: 500px;
}