.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.divider{
    margin-top: 100px;
    position: relative;
    display: block;
}

.selected {
    background-color: rgba(0,0,0,0.25); 
}
