
.divider{
    margin-top: 100px;
    position: relative;
    display: block;
}

.selected {
    background-color: rgba(0,0,0,0.25); 
}

@media (min-width: 770px) {
    .MatchesList {
        height: calc(100% - 60px);
        min-width: 260px;
        text-align: center;
        background-color: #00000010;
        box-shadow: 0 10px 20px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .header {
        padding-top: 20px;
        padding-bottom: 0px;
        border-radius: 10px 10px 5px 5px;
    }
    .list {
        height: calc(100% - 150px);
        overflow-y: auto;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .MatchesList {
        height: calc(100% - 60px);
        min-width: 260px;
        text-align: center;
        background-color: #00000010;
        box-shadow: 0 10px 20px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        margin-top: 0px;
    }
    .header {
        padding-top: 20px;
        padding-bottom: 0px;
        border-radius: 10px 10px 5px 5px;
    }
    .list {
        height: calc(100% - 150px);
        overflow-y: auto;
        width: 100%;
        text-align: center;
        padding: 10px;
        padding-top:0px;
    }
}
