.container {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    min-width: 240px;
    animation: example 0.5s;
    transition: all 500ms ease-in-out;
    margin: auto;
    border-radius: 5px;
    
}
@keyframes example {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container:hover{
    /* background-color: rgba(0,0,0,0.05); */
    color: #000000a0;
    transform: scale(1.02);
    box-shadow: 0 10px 4px -4px rgba(0,0,0,0.15), 0 6px 2px -3px rgba(0,0,0,0.25);
    transition: all 75ms ease-in-out;
}

.record {
    height: 25%;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.col {
    display: inline-block;
    min-width: 37%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.colMid{
    display: inline-block;
    min-width: 25%;
    justify-content: center;
    margin: auto;
    
}
.colScoreH{
    display: inline-block;
    justify-content: center;
    margin: auto;
    

}
.colScoreV{
    display: inline-block;
    justify-content: center;
    margin: auto;

}

.heading {
    margin: 10px;
    height: 50%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.selected {
    background-color: #00000010;
}
