.container {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    min-width: 240px;
    animation: example 0.5s;
    transition: all 500ms ease-in-out;
    margin: auto;
    border-radius: 0px;
    
}
@keyframes example {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container:hover{
    /* background-color: rgba(0,0,0,0.05); */
    color: #000000a0;
    transform: scale(1.02);
    box-shadow: 0 5px 4px 0px rgba(0,0,0,0.15), 0 6px 2px -4px rgba(0,0,0,0.23);
    transition: all 75ms ease-in-out;
}
.container:active{
    /* background-color: rgba(0,0,0,0.05); */
    color: #000000a0;
    transform: scale(1);
    box-shadow: none;
    transition: all 75ms ease-in-out;
}

.record {
    height: 25%;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.col {
    display: inline-block;
    min-width: 37%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.colMid{
    display: inline-block;
    min-width: 25%;
    justify-content: center;
    margin: auto;
    
}
.colScoreH{
    display: inline-block;
    justify-content: center;
    margin: auto;
    

}
.colScoreV{
    display: inline-block;
    justify-content: center;
    margin: auto;

}

.heading {
    margin: 10px;
    height: 60%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.selected {
    background-color: #00000009;
}
@media (max-width: 770px) {
    .container {
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px;
        min-width: 240px;
        animation: example 0.5s;
        transition: all 500ms ease-in-out;
        margin: auto;
        border-radius: 0px;
        box-shadow: none;
        border-bottom: 0.5px solid rgba(0,0,0,0.2);
        
    }
    .container:hover{
        /* background-color: rgba(0,0,0,0.05); */
        color: #000000a0;
        transform: none;
        box-shadow: none;
        transition: all 75ms ease-in-out;
    }
}