.App {
  text-align: center;
    /* background-color: #282c34; */
  font-family: 'Roboto';
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100px;
  padding: 10px;
}

.App-header {
  /* background-color: #282c34; */
  
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  border-bottom: solid 1px black;
  width: 100%;

}
.App-Grid-Header {
  border-bottom: solid 1px black;

}

.App-body { 
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.MatchesList-container {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* max-height: 700px;
  overflow: auto; */
}
.App-Match-Details-Container {
  /* display: flex;
  flex-direction: row;
  align-items: center; */

  width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  top: 50%;
}
