.App {
  position: fixed; 
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  margin: 0px !important;
  font-family: 'IBM Plex Sans', sans-serif;
  
}
.App-Title {
  margin-top: 5px;
  margin-right: 7%;
  margin-left: 7%;
}
.App-logo {
  margin: auto;
  color: #ffffff;
}
.App-Grid-Header {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  text-align: start;
  height: 60px;
  background: linear-gradient(45deg, #333333 40%, #333333 95%);
}

.App-Navbar {
  /* position: absolute; */
  /* background: linear-gradient(45deg, #cccccc70 40%, #61616193 95%); */
  margin: 0;
  padding: 0px !important;
  height: 50px;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23); */
  z-index: 1;
}

body ::-webkit-scrollbar {
  width: 0px;
}
body ::-webkit-scrollbar-track {
  background-color: transparent;
}

.loading {
  top: 50%;
  margin-top: 100px;
}

.containerCard {
  background-color: #ffffff;
  /* box-shadow: 0 8px 15px 2px rgba(0,0,0,0.19), 0 1px 0px rgba(0,0,0,0.25); */
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0px;
}
.innerCard {
  background-color: #ffffff;
  /* box-shadow: 0 9px 3px -5px rgba(0,0,0,0.15), 0 7px 1px -5px rgba(0,0,0,0.25); */
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 0px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

a{
  /* text-decoration: none !important; */
  color: black;
}
@media (min-width: 770px) {
  .App-body { 
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    min-height: 85%;
    max-height: 85%;
    flex-wrap: nowrap !important;
    min-width: 770px;
    background: #00000010;

  }
  .MatchesList-container {
    width: 25% !important;
    min-width: 270px;
    overflow: auto;
  }
  .App-Match-Details-Container {
    width: 65% !important;
    min-width: 500px  !important;
    overflow: auto;
  }
  .App-footer{
    padding: 0px;
    width: 100%;
    height: calc(15% - 110px);
    background-color: rgba(0,0,0,0.85);
  }
}

@media (max-width: 770px) {
  .MatchesList-container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .App-body { 
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0%;
    margin-right: 0%;
    width: 100% !important;  
    max-height: calc(100vh - 110px) !important;
    min-height: calc(100vh - 110px);
    overflow: auto;
  }
  .App-Match-Details-Container {
    overflow: auto;
    width: 100% !important;
    padding: 0px !important;
    
  }
  .containerCard {
    background-color: #ffffff;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .innerCard {
    background-color: #ffffff;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);

  }
}
