.App {
  position: fixed; 
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px !important;
}
.App-Title {
  margin-top: 5px;
  margin-right: 7%;
  margin-left: 7%;
}
.App-logo {
  margin: auto;
  color: #e9e9e9;
}
.App-Grid-Header {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  text-align: start;
  height: 50px;
  background: linear-gradient(45deg, #333333 40%, #000000 95%);
}

.App-Navbar {
  /* position: absolute; */
  background: linear-gradient(45deg, #cccccc70 40%, #61616193 95%);
  margin: 0;
  padding: 0px !important;
  height: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

body ::-webkit-scrollbar {
  width: 6px;
  
}

body ::-webkit-scrollbar-track {
  background-color: transparent;
}

.loading {
  top: 50%;
  margin-top: 100px;
}

.containerCard {
  background-color: #00000010;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 100px) {
  .App-body { 
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    min-height: 85%;
    max-height: 85%;
    flex-wrap: nowrap !important;
    min-width: 770px;
  }
  .MatchesList-container {
    width: 25% !important;
    min-width: 270px;
  }
  .App-Match-Details-Container {
    width: 75% !important;
    min-width: 500px  !important;
    overflow: auto;
  }
  .App-footer{
    padding: 0px;
    width: 100%;
    height: calc(15% - 100px);
    background-color: rgba(0,0,0,0.85);
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .MatchesList-container {
    width: 90% !important;
    height: 70%;
  }
  .App-body { 
    display: block;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0%;
    margin-right: 0%;
    width: 100% !important;  
    min-height: 90%;
    max-height: 90%;
  }
  .App-Match-Details-Container {
    overflow: auto;
    width: 100% !important;
  }
}