.navbar {
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 7%; 
    margin-left: 7%;  
}

.navbar :focus {
  outline:none;
}

@media (min-width: 750px) {
  .navbar {
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 7%; 
    margin-left: 7%;  
  }
}


@media (max-width: 750px) {
  .navbar {
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 0%; 
    margin-left: 0%;  
    width: 100%;
  }
}